@charset "utf-8";

@import "assets/bulma/sass/utilities/initial-variables.sass";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$white: white;

// Update some of Bulma's component variables
$text: black;
//$title-color: $white;
//$link-visited: $white;
$link: $text;
$link-hover: $link;
$link-focus: $link;
//$link-active: $white;
//$control-border-width: 2px;
//$input-border-color: transparent;
// $input-shadow: none;
// $button-background-color: transparent;
// $button-border-color: $white;
// $button-hover-color: $white;
// $button-text-hover-background-color: rgba(0,0,0,0.5);
// $button-text-hover-color: $white;
// $button-color: $white;
// $navbar-burger-color: $white;
// $navbar-item-color:$white;
// $navbar-item-active-color: $white;
// $navbar-item-hover-color: $white;
$navbar-item-hover-background-color: rgba(0,0,0,0);
// $navbar-background-color: rgba(0,0,0,0.5);
// $border-light-hover: $white;
// $link-hover-border: $white;

@import "assets/bulma/bulma.sass";

// @import "assets/bulma/sass/utilities/functions.sass";
// @import "assets/bulma/sass/utilities/derived-variables.scss";
// @import "assets/bulma/sass/utilities/animations.sass";
// @import "assets/bulma/sass/utilities/mixins.sass";
// @import "assets/bulma/sass/utilities/controls.sass";

// @import "assets/bulma/sass/base/_all";

// // @import "assets/bulma/sass/elements/_all";
// // @import "assets/bulma/sass/elements/box.sass";
// @import "assets/bulma/sass/elements/button.sass";
// @import "assets/bulma/sass/elements/container.sass";
// @import "assets/bulma/sass/elements/content.sass";
// @import "assets/bulma/sass/elements/icon.sass";
// @import "assets/bulma/sass/elements/image.sass";
// @import "assets/bulma/sass/elements/notification.sass";
// // @import "assets/bulma/sass/elements/progress.sass";
// @import "assets/bulma/sass/elements/table.sass";
// // @import "assets/bulma/sass/elements/tag.sass";
// @import "assets/bulma/sass/elements/title.sass";

// @import "assets/bulma/sass/elements/other.sass";

// // @import "assets/bulma/sass/form/_all";
// @import "assets/bulma/sass/form/shared.sass";
// @import "assets/bulma/sass/form/input-textarea.sass";
// // @import "assets/bulma/sass/form/checkbox-radio.sass";
// @import "assets/bulma/sass/form/select.sass";
// // @import "assets/bulma/sass/form/file.sass";
// @import "assets/bulma/sass/form/tools.sass";

// // @import "assets/bulma/sass/components/_all";
// // @import "assets/bulma/sass/components/breadcrumb.sass";
// @import "assets/bulma/sass/components/card.sass";
// // @import "assets/bulma/sass/components/dropdown.sass";
// // @import "assets/bulma/sass/components/level.sass";
// // @import "assets/bulma/sass/components/list.sass";
// // @import "assets/bulma/sass/components/media.sass";
// @import "assets/bulma/sass/components/menu.sass";
// // @import "assets/bulma/sass/components/message.sass";
// // @import "assets/bulma/sass/components/modal.sass";
// @import "assets/bulma/sass/components/navbar.sass";
// // @import "assets/bulma/sass/components/pagination.sass";
// // @import "assets/bulma/sass/components/panel.sass";
// @import "assets/bulma/sass/components/tabs.sass";

// // @import "assets/bulma/sass/grid/_all";
// @import "assets/bulma/sass/grid/columns.sass";
// // @import "assets/bulma/sass/grid/tiles.sass";

// // @import "assets/bulma/sass/layout/_all";
// @import "assets/bulma/sass/layout/hero.sass";
// @import "assets/bulma/sass/layout/section.sass";
// @import "assets/bulma/sass/layout/footer.sass";

a:hover {
  text-decoration: underline;
}

.bg-transparent {
	background-color: transparent !important;
}

.card {
    margin-bottom: 5rem;
}

.cb-slideshow{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0;
    animation: imageAnimation 20s linear infinite 0s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    13% { opacity: 1; animation-timing-function: ease-out; }
    25% { opacity: 1 }
    38% { opacity: 0 }
    100% { opacity: 0 }
}

.border-button {
  border: solid 5px rgba(255,255,255,1);
  transition: border 0.6s linear;
}

.border-button:hover { border-color: rgba(255,255,255,0); }